@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  background: linear-gradient(120deg, #03016e, #00003f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relogio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 650px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.4);
  margin-bottom: 100px;
}

.relogio div{
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(5, 5, 5, .8);
  box-shadow: 5px 5px 15px rgba(0,0,0,.7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.relogio span{
  font-weight: bold;
  font-size: 60px;
}

.relogio span.tempo{
  font-size: 16px;
}

.mensagem p{
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: italic;
}